form {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 5px;
  }
  
  form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="range"],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form input[type="range"] {
    margin-bottom: 0;
  }
  
  form input[type="file"] {
    margin-bottom: 0;
  }
  
  form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0d8bf2;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }

  

dialogConfig.position = {
  'top': '0',
  'left': '0'
};
