
<div class="header">
    <div class="container">
         <div class="header-main home">
              <div class="logo">
                  <a href="index.html"><img src="/assets/images/logo.png" alt=""></a>
              </div> 
              <span class="menu"> <img src="images/icon.png" alt=""> </span>
              <div class="header-navg">
                  <ul class="res">
                      <li><a class="active" href="home">HOME</a></li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">JOBS</a></li>
                      <li><a href="#">CLIENTS</a></li>
                      <li><a href="#">EMPLOYERS</a></li>
                      <li><a href="#">CONTACT US</a></li>
                  </ul>
                  <script>
                    $( "span.menu").click(function() {
                                                      $(  "ul.res" ).slideToggle("slow", function() {
                                                       // Animation complete.
                                                       });
                                                       });
               </script>

              </div>
              <div class="clearfix"> </div>
         </div>
         <div class="header-bottom">
                  <h1>l'm looking for..</h1>
                  <form>
                      <input type="text" value="Enter a Job Description" onfocus="this.value = '';" onblur="if (this.value = 'Enter a Job Description') {this.value = 'Enter a Job Description';}">
                      <input type="submit" class="ser" value="Search"><br>
                   <label class="checkbox">
                          <input type="checkbox" value="checked">
                           Full Time
                   </label>
                   <label class="checkbox">
                        <input type="checkbox" value="checked">
                        Part Time/Casual/Freelance
                   </label>
                   <select name="city">
                    <option value="select your location"> Select your location</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="pune">Pune</option>
                    <option value="bengalore">Bengalore</option>
                   </select>
                </form>        
         </div>
         <pre></pre>
         <div class="reg">
            <input class="regbutton" type="button" onclick="alert('Register')" value="Register">
          </div>  
    </div>
</div>
<div class="intro-strip"></div>
<!--about start here-->
<div class="intro">
    <div class="container">
        <div class="intro-main">
                <h2>We're leaders in</h2>
                <h3>Creative Digital Recruitmemt</h3>
                <span class="b"> </span>
                <p>Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity<br>and that reflects on the type of jobs we recruit for. </p>
                <h4><a href="#"> FIND OUT MORE ABOUT US!</a></h4>
        </div> 
        <div class="clearfix"> </div>	 
   </div>
</div>
<!--contant start here-->
<div class="strip"> </div>
<div class="contant">
	  <div class="container">
	  	   <div class="contant-main">
	  	   	    <h3>Subscribe to our Job Seeker Mailing List</h3>
                <form>
                    <span class="search">
                    <input type="text" value="Enter Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}"/>
 	  	            <input type="submit" value=""></span>
                </form>
 	  	   </div>
	  </div>
</div>
<!--footer start here-->
<div class="strip"> </div>
<div class="footer-h">
	  <div class="container">
	  	    <div class="footer-main">
	  	    	<div class="col-md-6 footer-left">
	  	    	 <p class="data"> <a href="mailto:example@mail.com"> shakirchoudhary2117@gmail.com </a> <span class="d"> </span></p>
	             <p>  Copyright 2023 &copy; <a href="http://www.github.com/shakir2117/angular-demoapp" > Shakir2117</a></p>
	  	    	</div>
	  	    	<div class="col-md-6 footer-right">
	  	             <ul>
	  	             	<li><a href="#"> <span class="x"> </span> </a></li>
	  	             	<li class="m">692</li>
	  	             	<li><a href="#"> <span class="y"> </span> </a></li>
	  	             	<li class="r"> 117</li>
	  	             </ul>
	  	    	</div>
	  	    <div class="clearfix"> </div>
	  	    </div>
	  </div>
</div>
